<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="google-site-verification" content="google9a99fbac52a7cf42.html" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>AB File Converter</title>
  <link rel="stylesheet" href="/static/css/index.css" />
</head>
<body>
  <div class="hero-container">
    <div class="hero-text">
      <h1>Welcome to AB File Converter</h1>
      <p>Convert Files Easily – PDF, Images, Audio, and More</p>
      <a href="/login" class="get-started-btn">Get Started</a>
    </div>
  </div>
</body>
</html>
